<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuporfolio.server.mapper.TeacherToCourseMapper">

    <resultMap id="BaseResultMap" type="com.neuporfolio.server.domain.TeacherToCourse">
        <id property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
        <id property="courseId" column="course_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_id, course_id
    </sql>
    <delete id="deleteByCourseId">
        delete
        from teacher_to_course
        where course_id = #{courseId,jdbcType=NUMERIC}
    </delete>
    <select id="findAllByTeacherId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher_to_course
        where
        teacher_id = #{teacherId,jdbcType=NUMERIC}
    </select>
    <select id="findAllByCourseId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher_to_course
        where
        course_id = #{courseId,jdbcType=NUMERIC}
    </select>
</mapper>
